---
---

@import "{{ site.theme }}";

body{
  background-color:pink
}
page-header{
  background-color:pink
}
* {
  box-sizing: border-box;
}
.row {
  margin: 8px -16px;
}
.row,
.row > .column {
  padding: 8px;
}
.column {
  float: left;
  width: 25%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content {
  background-color: white;
  padding: 10px;
}
